head {
  background-color: #fffdd9;
}

.bio {
  display: flex;
  flex-wrap: wrap;
}

.bio > div {
  background-color: springgreen;
  font-size: 20px;
  margin-left: 45%;
  padding: 20px;
  width: 50%;
  }

.header > div {
  background-color: #fffdd9;
  margin: 0px;
  padding: 10px;
}
.container {
  padding-top: 5px;
  margin: 20px;
  font-size: 20px;
  background-color: #fffdd9;
  font-color: black;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
}

.container1 > div {
  margin: 20px;
  padding: 20px;
  width: auto;
  background-color: #fffdd9;
  align-content: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: #fffdd9;
  color: black;
}

#heading {
  font-size: 29px;
}
