$color1: #fffdd9;
$color2: #942300;
$color3: #ffdab8;

@media print {
  .animations {
    display: none;
  }
}

div[class=row2] {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  background-color: $color3;
}

.row2 > div {
  padding: 20px;
  border: 2px solid $color2;
  display: flex;
  flex-wrap: wrap;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 75px;
  font-size: 20px;
  background-color: $color3;
  margin: 10px;
  padding: 20px;

  #list{
    color: $color2;
    display: block;
    width: auto;
  }
  ul {
    color: $color2;
    display: block;
    width: auto;
  }
}

video {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.animations, .youtube {
  padding: 5px;
  margin: 5px;
  background-color: $color1;
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: $color1;
}

.bio2 > div {
  color: $color2;
  text-align: center;
  width: auto;
  vertical-align: middle;
  padding: 75px;
  display: flex;
  flex-wrap: wrap;
}

.bio2 {
  text-align: center;
}

.bio  div {
  background-color: $color3;
  font-size: 20px;
  margin: 10px;
  padding: 20px;
  width: auto;
  display: block;
  flex-wrap: wrap;
}

.header {
  border-style: solid;
  border-color: $color2;
  width: auto;
  margin: 5px;
}

.header > div {
  background-color: $color1;
  margin: 0px;
  padding: 6px;
  width: auto;
}

.container {
  padding-top: 5px;
  margin: 20px;
  font-size: 20px;
  background-color: $color1;
  font-color: black;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
}

.container1 > div {
  margin: 20px;
  padding: 20px;
  width: auto;
  background-color: $color1;
  align-content: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: $color1;
  color: black;
}

#heading {
  font-size: 29px;
}
